analytics-python==1.2.9
blpapi==3.16.2
certifi==2021.5.30
charset-normalizer==2.0.1
colorama==0.4.4
cvxpy==1.1.10
cycler==0.10.0
ecos==2.0.7.post1
getmac==0.8.2
idna==3.2
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.2.2
multitasking==0.0.9
numpy==1.20.1
osqp==0.6.2.post0
pandas==1.1.5
portfoliolab==0.3.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
qdldl==0.1.5.post0
requests==2.26.0
scikit-learn==0.24.1
scipy==1.6.0
scs==2.1.4
six==1.16.0
threadpoolctl==2.1.0
tia @ git+git://github.com/PaulMest/tia.git@b2dc783cf5c1a71907d4edb96efe0977efb06124
tqdm==4.61.2
urllib3==1.26.6
wincertstore==0.2
yfinance==0.1.63
setuptools~=52.0.0